<?xml version="1.0" ?>

<launch>    
    <!-- <arg name="use_imu" default="true"/> -->
    <!-- <arg name="use_lidar" default="true" />   -->

    <param name="gazebo"                   value="true"    type="bool"/>
    <param name="gazebo_robot_name"        value="robinion"/>

    <param name="offset_file_path"         value="$(find robinion_manager)/config/offset.yaml"/>
    <param name="robot_file_path"          value="$(find robinion_manager)/config/robinion.robot"/>
    <param name="init_file_path"           value="$(find robinion_manager)/config/dxl_init.yaml"/>

    <param name="device_name"              value="/dev/ttyUSB0"/>

    <!-- THORMANG3 Manager -->
    <node name="robinion_manager" pkg="robinion_manager" type="robinion_manager_node" output="screen"/>

</launch>